#rec19365402 .t396__artboard{
    height: 280px;
}
#rec19365402 .t396__filter{
    height: 280px;
    background-color: #000000;
}
#rec19365402 .t396__carrier{height: 280px;background-position: center center;background-attachment: scroll;background-image: url('https://ethplorer.io/img/a0acf76322b90f4737c9d9a19285bf50.jpg');background-size:cover;background-repeat:no-repeat;}
@media screen and (max-width: 1199px){#rec19365402 .t396__artboard{height: 380px;}
    #rec19365402 .t396__filter{height: 380px;}
    #rec19365402 .t396__carrier{height: 380px;background-attachment:scroll;}}
@media screen and (max-width: 959px){#rec19365402 .t396__artboard{height: 360px;}
    #rec19365402 .t396__filter{height: 360px;}
    #rec19365402 .t396__carrier{height: 360px;}}
@media screen and (max-width: 639px){#rec19365402 .t396__artboard{height: 420px;}
    #rec19365402 .t396__filter{height: 420px;}
    #rec19365402 .t396__carrier{height: 420px;}}
@media screen and (max-width: 479px){#rec19365402 .t396__artboard{height: 630px;}
    #rec19365402 .t396__filter{height: 630px;}
    #rec19365402 .t396__carrier{height: 630px;}}
#rec19365402 .tn-elem[data-elem-id="1494603888320"]{color:#ffffff;text-align:center;z-index:1;top: -29px;left: calc(50% - 600px + 390px);width:420px;}
#rec19365402 .tn-elem[data-elem-id="1494603888320"] .tn-atom{color:#ffffff;font-size:52px;font-family: 'Saira Condensed', sans-serif;line-height:1.3;font-weight:700;background-position:center center;border-color:transparent;border-style:solid;}
@media screen and (max-width: 1199px){#rec19365402 .tn-elem[data-elem-id="1494603888320"] .tn-atom{font-size:42px;}}
@media screen and (max-width: 959px){#rec19365402 .tn-elem[data-elem-id="1494603888320"]{text-align:center;}}
@media screen and (max-width: 639px){#rec19365402 .tn-elem[data-elem-id="1494603888320"] .tn-atom{font-size:33px;}}
@media screen and (max-width: 479px){#rec19365402 .tn-elem[data-elem-id="1494603888320"] .tn-atom{font-size:26px;}}
#rec19365402 .tn-elem[data-elem-id="1494603888329"]{color:#ffffff;text-align:center;z-index:2;top: 44px;left: calc(50% - 600px + 415px);width:370px;}
#rec19365402 .tn-elem[data-elem-id="1494603888329"] .tn-atom{
    color:#00aab5;
    font-size:22px;
    font-family: 'Saira Condensed', sans-serif;
    line-height:1.3;
    font-weight:500;
    background-position:center center;
    border-color:transparent;
    border-style:solid;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 100px;
}
@media screen and (max-width: 959px){#rec19365402 .tn-elem[data-elem-id="1494603888329"]{text-align:center;}}
@media screen and (max-width: 639px){#rec19365402 .tn-elem[data-elem-id="1494603888329"] .tn-atom{font-size:20px;}}
@media screen and (max-width: 479px){#rec19365402 .tn-elem[data-elem-id="1494603888329"] .tn-atom{font-size:20px;}}
#rec19365402 .tn-elem[data-elem-id="1494604035054"]{z-index:3;top: 112px;left: calc(50% - 600px + 190px);width:200px;}
#rec19365402 .tn-elem[data-elem-id="1494604035054"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494605279204"]{z-index:4;top: 115px;left: calc(50% - 600px + 830px);width:180px;}
#rec19365402 .tn-elem[data-elem-id="1494605279204"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494605301436"]{z-index:5;top: 120px;left: calc(50% - 600px + 430px);width:200px;}
#rec19365402 .tn-elem[data-elem-id="1494605301436"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494605359169"]{z-index:6;top: 117px;left: calc(50% - 600px + 670px);width:110px;}
#rec19365402 .tn-elem[data-elem-id="1494605359169"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494605458529"]{z-index:7;top: 193px;left: calc(50% - 600px + 226px);width:180px;}
#rec19365402 .tn-elem[data-elem-id="1494605458529"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494605471230"]{z-index:8;top: 192px;left: calc(50% - 600px + 439px);width:90px;}
#rec19365402 .tn-elem[data-elem-id="1494605471230"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1494606784044"]{color:#ffffff;text-align:right;z-index:9;top: 145px;left: calc(50% - 600px + 740px);width:40px;}
#rec19365402 .tn-elem[data-elem-id="1494606784044"] .tn-atom{color:#ffffff;font-size:9px;font-family: 'Saira Condensed', sans-serif;line-height:1.55;font-weight:700;background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1495271628711"]{z-index:10;top: 189px;left: calc(50% - 600px + 566px);width:200px;}
#rec19365402 .tn-elem[data-elem-id="1495271628711"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
#rec19365402 .tn-elem[data-elem-id="1495363996604"]{z-index:11;top: 189px;left: calc(50% - 600px + 803px);width:170px;}
#rec19365402 .tn-elem[data-elem-id="1495363996604"] .tn-atom{background-position:center center;border-color:transparent;border-style:solid;}
