DirectoryIndex page568524.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteRule ^explorer/last$ explorer/page627123.html
RewriteRule ^explorer/top$ explorer/page627210.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^explorer/js/config.js$ explorer/config.php [L,QSA]

RewriteRule ^explorer/widgets$ explorer/widgets.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^explorer/tx/(.*) explorer/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^explorer/address/(.*) explorer/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^explorer/search/(.*) explorer/index.php [L,QSA]